/*=- todo: deal wit this mess, find a way to organise and clean it up! */
body {
    min-height: 100vh;
    padding-bottom: 250px;
    position: relative;
    font-family: Raleway, sans-serif;
}

.whitespace {
    width: 100%;
    padding: 400px 0;
}

/*====== NAV ======*/
.navspace {
    width: 100%;
    height: 70px;
}

.navbar {
    background: #fff;
    border: 1px solid transparent;
}
.navbar > .container {
    width: 100%;
}
.navbar-brand {
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: initial;
    margin-left: 20%;
    padding: 15px 0;
    font-size: 20px;
    line-height: 19px;
    opacity: 0.9;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-shadow: 1px 1px 1px #777;
}
.navbar-default .navbar-brand{ color: #ddd;}
.navbar-default .navbar-brand:hover{ color: #ddd; text-shadow: 2px 2px 1px #444}

#logoA {
    font-family: 'Petit Formal Script', cursive;
}
#logoB {
    font-family: 'Kumar One Outline', cursive;
    padding-left: 8px;
    font-size: 19px;
}
.logo-shape {
    position: absolute;
    padding-left: 25%;
    padding-right: 2px;
    left: -1px;
    height: 70px;
    width: 0;
    background: white;
}
#logo-shape-1 {display: block;}
#logo-shape-2 {display: none; }

.navbar-nav {
    text-align: right;
    border: none;
}

#nav-line {
    position: absolute;
    top: 50px;
    right: 0;
    height: 1px;
    width: 33%;
    background: linear-gradient(90deg, rgba(231, 231, 231, 0) 0%, rgba(231, 231, 231, 0.8) 25%, rgba(231, 231, 231, 1) 100%);
}
/*=================*/

/*====== FOOTER ======*/
footer {
	color: #9d9d9d;
    background-color: #222;
    padding: 40px 20px 40px;
    text-align: center;
    margin: 5px 0 0;
    position: absolute;
    width: 100%;
    right: 0; bottom: 0; left: 0;
}
footer .footer-social a {
    display: inline-block;
    color: #9d9d9d;
    text-decoration: none;
    width: 47px;
    height: 47px;
    border: 1px solid rgba(157, 157, 157, 0.6);
    font-size: 25px;
    border-radius: 50px;
    padding: 5px;
    margin: 0 2px;
}


.extLink:hover {
    color: #222;
    border: 1px solid transparent;
    animation: beacon 2s linear infinite reverse;
    animation-delay: -0.5s;
}
.extLink2:hover{animation-name: beacon2;}
.extLink3:hover{animation-name: beacon3;}
.extLink4:hover{animation-name: beacon4;}

@keyframes beacon  {0% {background-position:0 50%}    100%{background-position:100% 50%}}
@keyframes beacon2 {0% {background-position:100% 50%} 100%{background-position:0 50%}}
@keyframes beacon3 {0% {background-position:50% 100%} 100%{background-position:50% 0}}
@keyframes beacon4 {0% {background-position:50% 0}    100%{background-position:50% 100%}}
/*====================*/


/*====== HOME ======*/
#home-fullscreen {
    width: 100%;
    height: 100vh;
    min-height: 400px;
    display: table;
    position: relative;
    text-align: center;
    /*background: linear-gradient(#fff 0%, #fff 75px, #777 50%, #222 100%);*/
    background-image: url(/static/media/siteimages/homebglg.png);
    background-size: cover;
    background-position: top;
}
#fs-content {
    display: table-cell;
    position: relative;
    vertical-align: middle;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 1px -1px 1px #444;
}
#fs-content h1 {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 45px;
    text-shadow: -1px -1px 3px #555;
    color: #f0f0f0;
    padding-top: 30px;
}
.fs-items {
    padding-top: 30px;
    max-width: 512px;
    margin: auto;
}
.fs-cell:nth-of-type(2) {
    display: none;
}
.fs-cell {
    padding-bottom: 2%;
    display: inline-block;
    position: relative;
    font-size: 25px;
}
.vpipe {
    display: none;
    background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
    width: 3px;
    height: 65px;
    color: transparent;
    border-radius: 25%;
    position: absolute;
    right: 0;
    top: -25%;
    text-shadow: none;
}
#scroll-skills {
    position: absolute;
    bottom: 10px;
    width: 100%;
    left: 0;
    font-size: 15px;
    color: #fff;
    opacity: 0.75;
    transition: opacity 0.5s ease;
    cursor: pointer;
}
#scroll-skills:hover {opacity: 1;}
.icon-down:before  {content: '\2039'; display: inline-block; transform: rotate(-90deg)}
#scroll-skills .icon-down {
    font-family: serif;
    position: absolute;
    font-size: 25px;
    right: 50%;
    bottom: -20px;
}

/* --- */
#mySkills {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
#mySkills h2 {
    padding: 10px 0;
    margin-top: 7.5%;
}
.sk-items {
    text-align: center;
    margin: auto;
    max-width: 512px;
}
.sk-cell {
    font-size: 1.3em;
}
.sk-cell > * {
    margin-top: 22%;
    margin-bottom: 5%;
}

.sk-cell img {
    width: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.sk-full {display: inline;} .sk-short {display: none; white-space: nowrap;}

/* --- */
.hpipe {
    margin:50px auto;
    height: 1px;
    border-radius: 50%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(51, 51, 51, 0.3) 30%, rgba(51, 51, 51, 0.4) 50%, rgba(51, 51, 51, 0.3) 70%, rgba(255, 255, 255, 0) 100% );
}


.home-buttons, .po-buttons {
    text-align: center;
    margin-bottom: 30px;
}
.home-buttons {padding: 5% 3%;}
.home-button {
    padding-top: 20px;
    padding-bottom: 20px;
}
.home-button a, .po-button a {
    font-size: 1.5em;
    width: 50%;
    min-width: 200px;
    max-width: 300px;
    padding-top: 18px;
    padding-bottom: 18px;
    border-radius: 15%;
    border: 1px solid rgba(51, 51, 51, 0.25);
    border-left: none; border-right: none;
}
.home-button a:hover, .po-button a:hover {
    background: linear-gradient(90deg, rgba(250, 250, 250, 0) 0%, #fafafa 7%, #fafafa 94%, rgba(250, 250, 250, 0) 100%);
    animation: pulsar 1.3s ease-in-out 1 reverse;
    animation-delay: -0.5s;
}
.pb2 a:hover {animation-name: pulsar2;}

@keyframes pulsar {
    1%  {background: linear-gradient(-135deg,
            #ffffff  0%, #ffffff 35%,
            #fbfbfb 43%,
            #f0f0f0 47%, #f0f0f0 55%,
            #ffffff 65%,
            #f8f8f8 70%, #fafafa 80%, #fafafa 86%,
            rgba(250, 250, 250, 0) 89%
        ) 12% 50% / 400% 100%; }
    100%{background: linear-gradient(-135deg,
            #ffffff  0%, #ffffff 35%,
            #fbfbfb 43%,
            #f0f0f0 47%, #f0f0f0 55%,
            #ffffff 65%,
            #f8f8f8 70%, #fafafa 80%, #fafafa 86%,
            rgba(250, 250, 250, 0) 89%
        ) 100% 50% / 400% 100%; }
}

@keyframes pulsar2 {
    1%  {background: linear-gradient(-315deg,
            #ffffff  0%, #ffffff 35%,
            #fbfbfb 43%,
            #f0f0f0 47%, #f0f0f0 55%,
            #ffffff 65%,
            #f8f8f8 70%, #fafafa 80%, #fafafa 86%,
            rgba(250, 250, 250, 0) 89%
        ) 88% 50% / 400% 100%; }
    100%{background: linear-gradient(-315deg,
            #ffffff  0%, #ffffff 35%,
            #fbfbfb 43%,
            #f0f0f0 47%, #f0f0f0 55%,
            #ffffff 65%,
            #f8f8f8 70%, #fafafa 80%, #fafafa 86%,
            rgba(250, 250, 250, 0) 89%
        ) 0 50% / 400% 100%; }
}
/*==================*/


/*====== PORTFOLIO ======*/
.postgrid h2 {
    margin: 50px 0 40px;
    text-align: center;
}
.en-cell {
    padding: 4px 2px 0;
}
.en-cell:last-child {
    padding-bottom: 5px;
}
.en-hover {
    max-width: 420px;
    margin: auto;
    position: relative;
    padding: 10px;
}
.en-hover:after {
    position: absolute;
    content:"";
    top:0;
    left:0;
    width: 100% ;
    max-width: 420px;
    height:100%;
    opacity:0;
    background-color: rgba(0,0,0,0);
    transition: .3s ease;
    border-radius: 3px;
    box-shadow: 0 0 25px 5px black inset;
}
.en-hover:hover:after {
    opacity: 0.3;
    background-color: rgba(0,0,0,0.1);
}
.en-cell a:hover, .en-cell a:active {
    text-decoration: none;
}
.en-snap {
    width: 100%;
    padding-bottom: 60%;
    position: relative;
}
.en-snap img {
    opacity: 0.75;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid #eee;
}
.en-cell h4, .en-cell p {
    color: #777;
}
.en-cell h4 {
    margin: 15px 0 5px;
}

/* --- */
.postdetail {
    padding-top: 100px;
}
.po-snap {
    max-width: 500px;
    margin: auto;
    position: relative;
    padding: 10px 20px;
}
.po-snap img {
    width: 100%;
    border: 1px solid #f4f4f4;
}
.po-snap > a {
    position: absolute;
    bottom: 42.5%;
}
.po-snap > a:first-of-type {left: -12px; }
.po-snap > a:last-of-type {right:  30px; }

.po-snap p {
    font-size: 15px;
    padding: 5px 0 10px;
    text-align: justify;
}
.po-detail h3 {
    margin: 10px 0 0;
}
.po-detail i {
    opacity: 0.75;
    padding-left: 1px;
}
.po-button {
    padding-top: 20px;
    padding-bottom: 10px;
}

.postdetail .icon-next,
.postdetail .icon-prev,
.postdetail .icon-prev2 {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-top: -15px;
    margin-left: -10px;
    font-family: serif;
    font-size: 30px;
    opacity: 0.5;
}

.po-button .icon-next {right: -49px;} .icon-next:before  {content: '\203a';}
.po-button .icon-prev  {left: -35px;} .icon-prev:before  {content: '\2039';}
.po-button .icon-prev2 {left: -47px;} .icon-prev2:before {content: '\00ab';}

.po-snap .icon-next:before {padding: 100% 20px 100% 200%;}
.po-snap .icon-prev:before {padding: 100% 200% 100% 20px;}

.po-snap .icon-next,
.po-snap .icon-prev {color: #777; font-size: 40px; margin-top: -20px;}

.po-snap .icon-next:hover,
.po-snap .icon-prev:hover {color: #aaa;}

.dis{visibility: hidden;}

#gitlink1 {
    position: absolute;
    cursor: pointer;
    top: 10px;
    width: 40px;
    height: 40px;
}

#gitlink2 {
    top: 30px;
    width: 40px;
    left: 20px;
    transform: skew(0, -45deg);
    position: absolute;
    height: 40px;
    cursor: pointer;
}

#gitlink3 {
    top: 10px;
    width: 40px;
    left: 40px;
    transform: skew(-45deg, 0deg);
    position: absolute;
    height: 40px;
    cursor: pointer;
    overflow: hidden;
}
.po-snap svg {
    transition: 0.5s ease-out;
    position: absolute;
    top: 11px;
    border: 0;
    left: 21px;
    transform: rotate(-90deg);
}
.showDown {opacity: 0.4;}
.showUp   {opacity: 0.9;}

.octo-arm2{
    animation:octocat-wave  560ms ease-in-out}
@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}

/*=======================*/


/*====== responsive media queries ======*/

@media screen and (max-width: 479px) {
    .sk-full {display: none;} .sk-short {display: inline;}
    .po-snap .icon-next:before {padding: 100% 20px 100% 100%;}
    .po-snap .icon-prev:before {padding: 100% 100% 100% 20px;}
    .po-snap > a {  bottom: 5%;}
    .po-snap > a:last-of-type {right: 10px; }
}

@media screen and (min-width: 640px) {

}

/*== col-sm ==*/
@media screen and (min-width: 768px) {

    /*====== NAV ======*/
    .navspace {height: 90px;}
    #logoB {
        font-size: 29px;
        padding-left: 11px;
    }

    .logo-shape {
        padding-left: 20%;
        height: 90px;
    }

    #logo-shape-1 {
        display: none;
    }

    #logo-shape-2 {
        display: block;
    }

    .navbar > .container .navbar-brand {
        margin-left: 20%;
        font-size: 30px;
        width: 150px;
        padding: 18px 0;
        line-height: 27px;
    }

    #nav-line {
        width: 400px;
    }

    /*=================*/

    /*===== HOME ======*/
    #home-fullscreen {
        /*background: linear-gradient(#fff 0%, #fff 95px, #777 50%, #222 100%);*/
    }
    #fs-content h1 {
        font-size: 45px;
    }
    .fs-items {
        margin: auto;
        max-width: 992px;
    }
    .fs-cell:nth-of-type(2) {display: inline-block;}
    .fs-cell:nth-of-type(4) {display: none;}

    .fs-cell {
        font-size: 25px;
    }
    .vpipe {
        display: initial;
    }
    .sk-items {
        margin: auto;
        max-width: 1080px;
    }
    #mySkills h2 {font-size: 35px;}
    .sk-cell {font-size: 1.4em;}

    .home-button a {
        font-size: 1.7em;
        width: 80%;
        min-width: 300px;
        max-width: 350px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .home-button:first-of-type {text-align: left; padding: 20px 0 20px 35px;}
    .home-button:last-of-type {text-align: right; padding: 20px 35px 20px 0;}
    /*=================*/

    /*====== PORTFOLIO ======*/
    .po-snap2 {
        max-width: initial;
        padding: 0;
        margin: 10px 0;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        height: 184px;
        overflow: scroll;
    }
    .po-desc p {padding-bottom: 0; margin:0;}

    .po-button a {
        font-size: 1.7em;
        width: 95%;
        min-width: initial;
        max-width: initial;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .po-button:nth-of-type(2) {text-align: left; padding: 20px 0 20px 85px;}
    .po-button:last-of-type  {text-align: right; padding: 20px 85px 20px 0;}
    .po-button:first-of-type {padding: 20px 85px 25px;}
    .po-button:first-of-type a{ width: 100%; border-radius: 10%;}

    .po-detail h3 {font-size: 24px;}

    @media screen and (max-width: 991px) {  /* todo: <-nested @media tags! do this for anything that needed to change back at 991px width, instead of giving them all the initial property */
        .postdetail .hpipe{ width: 106%;  position: relative;  right: 3%;
            background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(51, 51, 51, 0.2) 10%, rgba(51, 51, 51, 0.3) 50%, rgba(51, 51, 51, 0.2) 90%, rgba(255, 255, 255, 0) 100% );
        }

    }
    /*=======================*/
}


/*== col-md ==*/
@media screen and (min-width: 992px){
    /*===== HOME ======*/
    #fs-content h1 {
        font-size: 50px;
    }
    .fs-cell {
        font-size: 30px;
    }
    #mySkills h2 {font-size: 40px;}
    .sk-cell {font-size: 1.5em;}

    .home-button:first-of-type {padding: 20px 0 20px 50px;}
    .home-button:last-of-type  {padding: 20px 50px 20px 0;}

    .po-button:first-of-type {text-align:   left; padding: 20px 13px 20px 39px;}
    .po-button:nth-of-type(2){text-align: center; padding: 20px 26px;}
    .po-button:last-of-type  {padding: 20px 39px 20px 13px;}
    .po-button a {min-width: initial; width: 95%;}

    .sk-cell > * {margin-top: 21%;}
    .sk-cell img {width: 45px;}

    /*=================*/

    /*====== PORTFOLIO ======*/
    .po-snap2 {height: 201px;}
    .po-button:first-of-type a{ width: 95%; border-radius: 15%;}
    /*=======================*/
}


@media screen and (min-width: 1024px) {

    /*====== NAV ======*/
    .navbar>.container .navbar-brand {
        font-size: 35px;
        width: 200px;
        padding: 9px 0;
        line-height: 33px;
    }
    #logoB {
        font-size: 33px;
        padding-left: 14px;
    }

    /*=================*/

    /*====== HOME ======*/
    #home-fullscreen {
        background-image: url("/static/media/siteimages/homebgxl.png") ;
        background-size: cover;
        background-position: top;
    }
    /*===================*/
}

/*== col-lg ==*/
@media screen and (min-width: 1200px){
    /*===== HOME ======*/
    #mySkills h2 {font-size: 42px;}
    .sk-cell {font-size: 1.6em;}

    .home-button a {
        font-size: 1.9em;
        padding-top: 22px;
        padding-bottom: 22px;
    }

    .home-button:first-of-type {padding: 2% 0 2% 75px;}
    .home-button:last-of-type  {padding: 2% 75px 2% 0;}

    .sk-cell > * {margin-top: 19%; margin-bottom: 4%;}
    .sk-cell img {width: 50px;}

    .postdetail {padding-top: 75px;}
    /*=================*/

    /*====== PORTFOLIO ======*/
    .po-detail h3 {font-size: 26px;}
    .po-snap p {font-size: 16px;}
    .po-snap2 {height: 251px;}
    /*=======================*/
}


/*======================================*/
