{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="navspace"></div>

    <h2 class="bigMarg">About Me</h2>
    <div class="aboutme">


        <div class="am-row">
            <div class="am-min am-plate am-plate1 "><h4>who am i</h4>
                <div id="plate1" ><div class="am-content"><div class="am-photo"></div>
                    <div class="am-head"><h3>building things, solving problems</h3>
                        <div class="question">
                            <div class="svg1"></div>
                        </div>
                    </div>
                    <p>Hello! I am a recent graduate and budding developer based in Norwich and London.</p>
                    <p>During my time as an undergraduate studying Chemical Engineering at UCL, my analytical and technical abilities were happily preoccupied, but I found that my creative and logical faculties were going underutilised.</p>
                    <p>I soon discovered the world of software development and realised that this is what I'm meant to do, and I never looked back.</p>
                    <p>From there, I went on to pursue  a Diploma in Full Stack Software Development, from which I acquired the very skills that I used to create the front and back end for this website, and <a href="{% url 'portfolio' %}" target="_blank">more</a>.</p>
                    <p>I have always enjoyed making things and I am excited to keep on learning and working on even bigger and better projects.</p><br>
                    <p>When not in front of my computer, you’ll find me in front of my piano or in front of my crafts box.</p>
                    <p>Coding, fitness, arts & crafts, instruments with strings… these are a few of my favourite things!</p>
                </div></div><p id="plate-close1">×</p>
            </div>
            <div class="question svg1b">
                <div class="svg1" style="display: none;"></div>
            </div>

        </div>

        <div class="am-row">
            <div class="envelope svg2b">
                <div class="svg2" style="display: none;"></div>
            </div>
            <div class="am-min am-plate am-plate2"><h4>contact me</h4>
                <div id="plate2" >
                    <div class="am-content">
                        <div class="am-head"><h3>get in touch!</h3></div>
                        <div class="envelope">
                             <div class="svg2"></div>
                        </div>
                        <p>email me:</p>
                        <p>ninaokoye@outlook.com</p>
                        <br>
                        <p>alternatively:</p>
                        <a href="https://linkedin.com/in/nenna-okoye" target="_blank"><i class="fa fa-linkedin"></i> linked in</a>
                        <a href="https://github.com/niinaa" target="_blank"><i class="fa fa-github" style="margin-left: 15px;"></i> github</a>
                    </div>
                </div><p id="plate-close2">×</p>
            </div>
        </div>
    </div>



    <style>  /* todo: optimise then move to stylesheet */
    .aboutme {
        text-align: center;
        font-size: 0;
        overflow-x: hidden;
    }

    .am-row {width: 100%;
        position: relative;
        margin-bottom: 25px;
        font-size: initial;
    }
    .bigMarg {margin-bottom: 75px; text-align: center;}
    .topMarg {margin-top: 50px;}

    .am-plate {
        position: relative;
        width: 120px;
        height: 112px;
        border-radius: 12%;
        border: 1px solid rgba(51, 51, 51, 0.25);
        border-left: none;
        border-right: none;
        cursor: pointer;
        display: inline-block;
    }
    .am-plate1 {
        left: -5%;
    }
    .am-plate2 {
        right: -5%;
    }
    .am-plate h4 {
        font-size: 16px;
        margin-top: 47px;
    }
    .question, .envelope {
        display: inline-block;
        vertical-align: bottom;
        position: relative;
        width: 120px;
        height: 112px;
    }
    .question {
        right: -5%;
    }
    .envelope {
        left: -5%;
    }
    .svg1, .svg2 {
        height: 78px;
        margin: 17px auto 0;
        opacity: 0.4;
        background-size: cover;
    }
    .svg1{
        width: 50px;
        background-image: url(/static/media/graphics/exclaimsh.svg);
    }
    .svg1b .svg1 {
        background-image: url(/static/media/graphics/questionsh.svg);
    }
    .svg2 {
        width: 111px;
        background-image: url(/static/media/graphics/envelopesh.svg);
    }
    #plate1, #plate2  {
        width: 106vw;
        max-height: 61vh;
        position: relative;
        background-color: #f8f8f7;
        top: -35px;
        padding: 15px 30px 45px;
        overflow: scroll;
        overflow-x: hidden;
        box-shadow: inset 0 0 3px 1px rgba(34, 34, 34, 0.3);
        border-radius: 12%;
        background-image: url(/static/media/siteimages/panelbg.png);
        background-size: cover;
        background-position: top;
    }
    #plate1 {background-position-y: -150px;}

    .am-min #plate1, .am-min #plate-close1,
    .am-min #plate2, .am-min #plate-close2,
    .am-off {
        display: none;}

    .am-max {
        width: 106vw;
        left: -3vw;
        border-radius: 12%;
        cursor: default;
        border: none;
    }
    .am-photo {
        float: right;
        width: 195px;
        height: 270px;
        background-image: url(/static/media/siteimages/ProfileImage.png);
        background-position: center;
        background-size: cover;
    }
    #plate1 p {text-align: left; margin-left: 5px;}

    .am-max h4 {visibility: hidden; margin: 50px 0 0 0; }

    .am-max h3 {
        font-family: 'Petit Formal Script', cursive;
        color: #ccc;
        margin-top: 0;
        padding-top: 25px;
        text-shadow: -1px -1px 1px #777;
        opacity: 0.6;
    }
    .am-max .question {right: initial; width: initial; height: initial;}
    .am-max .envelope {left: initial; width: initial; height: initial; padding: 10px;}
    .am-head {
        padding: 15px 0 0 0;
        margin-bottom: 25px;
    }
    .am-head .svg1 {
        width: 40px;
        height: 62px;
        margin-top: 5px;
    }
    #plate2 .am-head {padding: 0; margin: 0;}
    #plate2 p {margin-bottom: 2px;}
    #plate2 h3 {margin-bottom: 0;}
    .am-content .fa {
        opacity:0.7;
    }
    .am-content a {
        text-decoration: none;
    }

    #plate-close1, #plate-close2 {
        cursor: pointer;
        top: -75px;
        position: relative;
        height: 40px;
        left: 0;
        font-size: 30px;
        margin: 0;
        color: #999;
        opacity: 0.75;
        text-shadow: 1px 1px 3px #fff;
        background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(200, 200, 200, 0));
    }
    #plate-close1:hover, #plate-close2:hover {
        color: #777;
        background: linear-gradient(rgba(200, 200, 200, 0.4), rgba(200, 200, 200, 0.1), rgba(200, 200, 200, 0));
    }

    .am-min.am-plate:hover {
        background: linear-gradient(90deg, rgba(250, 250, 250, 0) 0%, #fafafa 4%, #fafafa 96%, rgba(250, 250, 250, 0) 100%);
        animation: pulsar3 1.3s ease-in-out 1 reverse;
        animation-delay: -0.5s;
    }
    @keyframes pulsar3 {
    1%  {background: linear-gradient(-135deg,
            #ffffff  0%, #ffffff 35%,
            #fbfbfb 43%,
            #f0f0f0 47%, #f0f0f0 55%,
            #ffffff 65%,
            #f8f8f8 70%, #fafafa 80%, #fafafa 86%,
            rgba(250, 250, 250, 0) 89%
        ) 12% 50% / 700% 100%; }
    100%{background: linear-gradient(-135deg,
            #ffffff  0%, #ffffff 35%,
            #fbfbfb 43%,
            #f0f0f0 47%, #f0f0f0 55%,
            #ffffff 65%,
            #f8f8f8 70%, #fafafa 80%, #fafafa 86%,
            rgba(250, 250, 250, 0) 89%
        ) 100% 50% / 700% 100%; }
}


    @media screen and (max-width: 279px) {
        .svg1b, .svg2b {display: none;}
        .am-plate1 {left: 0;} .am-plate2 {right: 0;}
    }

    @media screen and (max-width: 439px) {
        .am-photo {width: 150px; height: 200px;}
        #plate1, #plate2 {padding: 15px 20px 45px;}
    }
    @media screen and (min-width: 768px) {
        .am-plate {
            width: 150px;
            height: 140px;
        }
        .am-plate h4 {
            font-size: 18px;
            margin-top: 65px;
        }
        .am-max h4 {
            margin-top: 50px;
        }
        .question, .envelope {
            width: 150px;
            height: 140px;
        }
        .svg1 {
            width: 63px;
            height: 98px;
        }
        .svg2b .svg2 {
            width: 140px;
            height: 98px;
            margin-top: 25px;
        }

        .am-max {
            width: 106vw;
            left: -3vw;
        }

        #plate1, #plate2 {
            padding: 30px 10% 50px;
        }

    }

    @media screen and (min-width: 992px){
        #plate-close1, #plate-close2 {top: -80px; font-size: 35px;}
        .am-photo {
            width: 250px;
            height: 337px;
            margin: 2% 4% 0 0;
        }
        #plate1 p {
            width: 70%;
            margin-left: 5%;
        }
        .am-max h3 {font-size: 28px;}
    }


    </style>

{% endblock %}