{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div id="home-fullscreen">
        <div id="fs-content">
            <h1>Full Stack Development</h1>
            <div class="fs-items row">
                <div class="fs-cell col-xs-6 col-sm-3">front end
                <span class="vpipe">|</span></div>
                <div class="fs-cell col-xs-6 col-sm-3">back end
                <span class="vpipe">|</span></div>
                <div class="fs-cell col-xs-6 col-sm-3">UX/UI
                <span class="vpipe">|</span></div>
                <div class="fs-cell col-xs-6 col-sm-3">back end
                <span class="vpipe">|</span></div>
                <div class="fs-cell col-xs-6 col-sm-3">frameworks</div>
            </div>
        </div>
        <div id="scroll-skills">
            Proficiencies <span class="icon-down"></span>
        </div>
    </div>

    <div id="mySkills" class="container">
        <h2>technical skills</h2>
        <div class="sk-items row">
            {% for skill in skills %}
               <div class="sk-cell col-xs-6 col-sm-4">
                   <img src="{% static "media" %}/graphics/skill{{ skill.i }}.png" alt="{{ skill.name }} icon">
                   <span class="sk-full">{{ skill.name }}</span>
                   <span class="sk-short">
                       {% if skill.short %}
                           {{ skill.short }}{% else %}{{ skill.name }}
                       {% endif %}
                   </span>
               </div>
            {% endfor %}
        </div>
    </div>

    <div class="hpipe"></div>

    <div class="container home-buttons">
        <div class="row">
            <div class="col-xs-12 col-sm-6 home-button">
               <a href="{% url 'portfolio' %}" class="btn btn-default btn-lg">view portfolio</a>
            </div>
            <div class="col-xs-12 col-sm-6 home-button">
               <a href="{% url 'contact' %}" class="btn btn-default btn-lg">contact me</a>
            </div>
        </div>
    </div>

{% endblock %}