{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="navspace"></div>

    <div class="postgrid container">
        <h2>Portfolio</h2>

        <div class="en-items row">
            {% for entry in entries %}
                {% if entry.display %}

                    <div class="en-cell col-xs-12 col-sm-6 col-md-4">
                        <a href="/portfolio/{{ entry.port_url }}" class="en-link">
                        <div class="en-hover">
                            <div class="en-snap"><img src="{% static "media/dbimages" %}/{{ entry.image_url }}" alt="{{ entry.title }} snap"></div>
                            <h4>{{ entry.title }}</h4>
                            <p>{{ entry.lang_main }}</p>
                        </div>
                        </a>
                    </div>

                {% endif %}
            {% endfor %}
        </div>

    </div>


{% endblock %}